*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width:50px;
    height:70px;
}
.mid{
    text-align: center;
    margin-left: 480px;
}
.head{
margin-left:60px;
color:grey;
}
.link{
    margin-left:60px;
    color:grey;
}
.registration{
    background-color:  rgb(10, 179, 10);
    padding:5px;
    margin-top: -2px;
    border-style: none;
   
}
.vb{
    padding:20px 4px 4px 4px;
    border:5px solid #f1f1f1;
}
.vl{
    padding:20px 4px 4px 4px;
    margin: 4px 2px;
    border:5px solid #f1f1f1;
    border-radius: 100px;
  }

.login{
   margin-left:10px;
    background-color: rgb(10, 179, 10);
    padding:5px;
    margin-top:-2px;
    border-style: none;
    /* /* float: right;  */
}
.gh{
    border-right:5px solid #f1f1f1;
   
}
.ty{
    border-top:8px solid rgba(245, 236, 236, 0.767);
}
.io{
    border:3px solid #f1f1f1;
}
.j{
    margin-left:9px;
}
@media screen and (max-width:544px) {
    .head,.mid,.link{
        display: none;
    }
    .hy{
        display:flex;
        flex-direction: row;  
        margin-left:-5px; 
    }
    .z{
        margin-left:-8px; 
    }
    .ly{
        margin-left: 15px;
    }
    .ko{
        display: block;
    }
    .gh{
        border-bottom:5px solid #f1f1f1;
    }
    .ty{
        border-top:8px solid rgba(245, 236, 236, 0.767);
    }
}